<!--<div style="height: 10rem; background-color: aqua; margin: 2rem; border-radius: 1rem"></div>-->
<div style= "text-align: center">
    <div class = "hello_world_header_logo">
        <h1>Hello_World_2</h1>
    </div>
    <div class = "hello_world_header_button">
        <span>nav1_2</span>
        <span>nav2_2</span>
        {% if not user.is_authenticated %} <!-- 로그인 되어 있는 아닌지 알 수 있음 -->
        <span>
            <a href="{% url 'accountapp:login' %}">Login</a>
        </span>
        <span>
            <a href="{% url 'accountapp:create' %}">SignUp</a>
        </span>
        {% else %}
        <span>
            <a href="{% url 'accountapp:logout' %}">LogOut</a>
        </span>
        {% endif %}
    </div>
</div>